.img{
    height: 80%;
    width: 100%;
    padding-bottom: 10px;
}

.img:hover{
    transform: scale(1.02);
    
}

.card-container{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.card{
    margin-top: 20px;
    max-width: 47%;
    max-height: 47%;
}

