.contact-container{
    position: relative;
    /* background-color: var(--dark-grey); */
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    height: 500px;
    padding-left: 175px;
    padding-right: 175px;
}

#contact{
    display: flex;
    flex-direction: column;
}

.footer-ring{
    position: absolute;
    bottom: 30%;
    left: -15%;
}

.contact-blurb{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 40%;
    height: 70%;
}

.contact-blurb p{
    color: var(--light-grey);
}

.form{
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.ind-input{
    /* border: 1px solid pink; */
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ind-input .input{
    border: 1px solid green;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white);
    border-bottom: 1px solid var(--green);
    width: 90%;
    padding: 20px;
}


.ind-input input::placeholder{
    color: var(--white);
}

.ind-input input:focus{
    outline: none;
    border-bottom: 1px solid var(--green);
}

.error-field{
    align-self: flex-end;
    font-style: italic;
    font-size: .75rem;
    color: hsla(0, 100%, 50%,.9);
    padding-right: 20px;
}

.error input {
    border-bottom: 1px solid red;
}

.submit{
    cursor: pointer;
    color: var(--white);
   align-self: flex-end;
    border: none;
    background-color: var(--dark-grey);
    border-bottom: 1px solid var(--green);
    padding-bottom: 5px;
}

.submit:hover{
    color: var(--green);
}

.footer-section{
    height: 25%;
    width: 75%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-evenly;
}



