:root{
  --black: hsl(0,0%,8%);
  --green: hsl(153, 71%,59%);
  --dark-grey: hsl(0,0%,15%);
  --light-grey: hsl(0,0%,85%);
  --white: hsl(0,0%,100%); 
}

.header-xl{
  font-size: 88px;
  letter-spacing: -2px;
  line-height: 88px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
  color: var(--white);
}

.header-lg{
  font-size: 58px;
  letter-spacing: -1.5px;
  line-height: 56px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
}

.header-med{
  font-size: 34px;
  line-height: 32px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
}

.body-lg{
  font-family: 'Space Grotesk', 'sans-serif';
  font-size: 18px;
  line-height: 28px;

}

#root{
  background-color: var(--black);
}

/* .website{
  width: 100vw;
  height: 100vh;
} */

.body{
  height: 100%;
  background-color: var(--black);
  padding-left: 175px;
  padding-right: 175px;
}

.footer{
  background-color: var(--dark-grey);
}
